In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('../..')))

In [3]:
import fastparquet as fp
import pandas as pd

In [7]:
tf = fp.ParquetFile('../../data/btcusdt_230518/tickers_230518.parquet').to_pandas()

,datetime,ask,askVolume,bid,bidVolume,open,high,low,close,last
0,2023-05-18 05:27:18.916,27272.90,13.47695,27272.89,2.97495,27032.16,27500.0,26544.71,27272.90,27272.90
1,2023-05-18 05:27:19.055,27272.90,13.47695,27272.89,3.03957,27032.17,27500.0,26544.71,27272.90,27272.90
2,2023-05-18 05:27:19.073,27272.90,13.47695,27272.89,3.03957,27032.17,27500.0,26544.71,27272.90,27272.90
3,2023-05-18 05:27:19.055,27272.90,13.47695,27272.89,3.03957,27032.17,27500.0,26544.71,27272.90,27272.90
4,2023-05-18 05:27:19.055,27272.90,13.47695,27272.89,3.03957,27032.17,27500.0,26544.71,27272.90,27272.90
...,...,...,...,...,...,...,...,...,...,...
13516,2023-05-18 05:42:59.440,27276.79,8.01948,27276.78,5.02545,27000.81,27500.0,26544.71,27276.79,27276.79
13517,2023-05-18 05:42:59.877,27276.79,7.87284,27276.78,5.02545,27000.82,27500.0,26544.71,27276.79,27276.79
13518,2023-05-18 05:42:59.877,27276.79,7.87284,27276.78,5.02545,27000.82,27500.0,26544.71,27276.79,27276.79
13519,2023-05-18 05:42:59.998,27276.79,7.86353,27276.78,5.01940,27000.82,27500.0,26544.71,27276.79,27276.79
13520,2023-05-18 05:43:00.015,27276.79,7.85456,27276.78,5.00717,27000.81,27500.0,26544.71,27276.78,27276.78